<form
  class="flex flex-col gap-6 justify-self-center min-w-xl max-w-xl"
  [formGroup]="callForm"
>
  <div class="flex flex-col gap-2">
    <label for="name">Username:</label>
    <input
      id="name"
      type="text"
      placeholder="Enter a username"
      formControlName="username"
      class="mb-2 p-2 border rounded"
    />
  </div>

  <div class="flex flex-col gap-2">
    <label for="callId">Call id:</label>
    <input
      id="callId"
      type="text"
      placeholder="Please enter the call id"
      formControlName="callId"
      class="mb-2 p-2 border rounded"
    />
  </div>

  <div class="flex flex-row gap-x-16">
    <button
      [disabled]="!callForm.valid"
      (click)="createCall()"
      class="bg-blue-500 disabled:bg-blue-300 disabled:cursor-default enabled:cursor-pointer active:bg-blue-700 enabled:active:scale-95 transition-all duration-150 ease-in-out text-white p-2 rounded px-8"
    >
      New Call
    </button>
    <button
      (click)="joinCall()"
      class="bg-blue-500 disabled:bg-blue-300 disabled:cursor-default enabled:cursor-pointer active:bg-blue-700 enabled:active:scale-95 transition-all duration-150 ease-in-out text-white p-2 rounded px-8"
    >
      Join Call
    </button>
  </div>
</form>
